


body{
background-color: rgb(219, 219, 219);
font-family: "Poppins", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


input::placeholder {
  font-weight: bold; /* Reset font weight for the placeholder */
}